<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Some Website</title>
</head>
<body>
	<h1>Will be right back!</h1>
	<p>The site is currently being updated. Will be back soon.</p>
</body>
</html>